<div class="mt">
  <div class="panel-group" id="accordion">
    <div class="panel panel-info" *ngFor="let m of menu3">
      <div class="panel-heading " id="menu{{m.id}}">
        <h2 class="panel-title text-center">
          <button class="btn bg-info" data-toggle="collapse" [attr.data-target]="'#collapse'+m.id" data-parent="#accordion">
            <i class="{{m.icon}} text-primary"></i>&nbsp;
            <strong>{{m.title}} </strong>        
          </button>
        </h2>
      </div>
      <div id="collapse{{m.id}}" class="panel-collapse collapse" [attr.aria.labelledby]="'menu'+m.id" >
        <div class="panel-body text-center clickable"   *ngFor="let sousMenu of m.sousMenu" [ngClass]="m.title!+sousMenu.id ==homePage.collapseValue?'bg-primary':''" (click)="navigateById(m.title!,sousMenu.id!)">
          <i class=""  ></i>&nbsp;{{sousMenu.title}}
        </div>
      </div>
     </div>
    <div class="panel panel-info" *ngFor="let m of menu">
      <div class="panel-heading " id="menu{{m.id}}">
        <h2 class="panel-title text-center">
          <button class="btn bg-info" data-toggle="collapse" [attr.data-target]="'#collapse'+m.id" data-parent="#accordion">
            <i class="{{m.icon}}"></i>&nbsp;
            <strong>{{m.title}} </strong>        
          </button>
        </h2>
      </div>
      <div id="collapse{{m.id}}" class="panel-collapse collapse" [attr.aria.labelledby]="'menu'+m.id" >
        <div class="panel-body text-center clickable" *ngFor="let sousMenu of m.sousMenu" (click)="navigateByUrl(sousMenu.url,sousMenu.id!)" [ngClass]="sousMenu.id ==currentSousMenu?'bg-primary':''">
          <i class="{{sousMenu.icon}}"  (click)="navigateByUrl(sousMenu.url,sousMenu.id!)"></i>&nbsp;{{sousMenu.title}}
        </div>
      </div>
    </div>
    <div class="panel panel-info" *ngFor="let m of menu2">
      <div class="panel-heading " id="menu{{m.id}}">
        <h2 class="panel-title text-center">
          <button class="btn bg-info" data-toggle="collapse" [attr.data-target]="'#collapse'+m.id" data-parent="#accordion">
            <i class="{{m.icon}}"></i>&nbsp;
            <strong>{{m.title}} </strong>        
          </button>
        </h2>
      </div>
      <div id="collapse{{m.id}}" class="panel-collapse collapse" [attr.aria.labelledby]="'menu'+m.id" >
        <div class="panel-body text-center clickable" *ngFor="let sousMenu of m.sousMenu" (click)="navigateByUrl(sousMenu.url,sousMenu.id!)" [ngClass]="sousMenu.id ==currentSousMenu?'bg-primary':''">
          <i class="{{sousMenu.icon}}"></i>&nbsp;{{sousMenu.title}}
        </div>
      </div>
    </div>
</div> <!-- end container -->