<app-header ></app-header>
<div class="main-container">
    <div class="row no-flex-wrap">
        <div class="panel panel-info col-md-2 nim-height ">
          <div class="col">
            <div class="text-center">
              <br>
              <h1><strong>Shop menu</strong></h1>
            </div>
            <div>
                <app-menu></app-menu>
            </div>
          </div>
        </div>
        <div class="panel panel-info col-md-10 nim-height mr ml pt">
          <router-outlet>  </router-outlet>
        </div>
    </div>  
</div>



